.saurav-x {
    text-decoration: none !important;
    color: #f9a51a;
    font-size: 17px !important;
}

.saurav-x:hover {
    color: #f9a51a !important;
}

.saurav-xs:hover {
    color: #000 !important;
}


.saurav-xs {
    text-decoration: none !important;
    color: #000;
    font-size: 17px !important;
}

.login_btn {
    background: #f9a51a !important;
    padding: 5px 20px !important;
    color: #000 !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
    margin-top: 5px;
    text-decoration: none !important;
}

.navbar-dark .navbar-toggler {
    color: #f9a51a !important;
    border-color: #f9a51a !important;
}







.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
 }