.saurav-x {
    text-decoration: none !important;
    color: #f9a51a;
    font-size: 17px !important;
}

.saurav-x:hover {
    color: #f9a51a !important;
}

.saurav-xs:hover {
    color: #000 !important;
}

.saurav-xs {
    text-decoration: none !important;
    color: #000;
    font-size: 17px !important;
}

.login_btn {
    background: #f9a51a !important;
    padding: 5px 20px !important;
    color: #000 !important;
    font-weight: 600 !important;
    border-radius: 4px !important;
    margin-top: 5px;
    text-decoration: none !important;
}

.navbar-dark .navbar-toggler {
    color: #f9a51a !important;
    border-color: #f9a51a !important;
}